<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adore">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AdoreApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_a_d_o_r_e"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.AdorableActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>